* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  display: flex;
  background-color: #f5f5ed;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  min-width: 1100px;
}

.list {
  height: 95px;
  padding: 25px;
  align-items: center;
  display: flex;
}

ul,
li {
  display: flex;
  color: #282b36c0;
  cursor: pointer;
  font-size: 15px;
}
.space {
  margin-left: 20px;
}

.heading1 {
  color: #282b36c0;
  align-items: center;
  display: flex;
  font-size: 15px;
}

.year {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}

.Apply {
  width: 75px;
  height: 38px;
  background-color: #fa641e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 15px;
  font-weight: bold;
}

.Apply:hover {
  background-color: #e6510d;
}

.container {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.contant {
  margin-top: 110px;
  margin-left: 85px;
  /* display: flex; */
}

.n1 {
  color: #000000;
  font-size: 60px;
  font-family: Sans-serif;
}

.n2 {
  color: #fa641e;
  font-size: 58px;
  font-family: Sans-serif;
  margin-bottom: 20px;
}

.n3 {
  color: #000000;
  font-size: 23px;
  font-family: Sans-serif;
  margin-bottom: 5px;
}

.n4 {
  color: #000000;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.button {
  width: 40%;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: #fca842;
  font-size: 18px;
  color: #f5f5ed;
  transition: all 0.5;
}

button:hover {
  background-color: #fa641e;
  cursor: pointer;
}

.gallery > img {
  width: 600px;
  height: 560px;
  object-fit: cover;
}

.money {
  background-color: #f5f5ed;
  color: #fa641e;
  height: 135px;
  width: 17%;
  text-align: center;
  position: absolute;
  padding: 35px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 14px;
}
.money1 {
  top: 100px;
  left: 520px;
}
.money2 {
  top: 260px;
  left: 520px;
}

.name1 {
  font-size: 16px;
  color: #282b36c0;
  font-weight: 100;
}

.name2 {
  font-size: 16px;
  color: #282b36c0;
  font-weight: 100;
}

.gallery1 {
  height: 54px;
  width: 55px;
  cursor: pointer;
}

.big-card {
  height: 290px;
  background-color: #f5f5ed;
  justify-content: center;
  /* border: 2px solid black; */
}
.card {
  display: flex;
  justify-content: center;
  /* border: 1px solid rgba(0, 0, 0, 0.685); */
  /* position: relative; */
}

.card1 {
  display: flex;
  column-gap: 1rem;
  /* justify-content: space-between; */
  /* max-width: 1100px; */
  /* border: 1px solid rgba(0, 0, 0, 0.685); */
  /* width: 100%; */
  height: 157px;
  margin-top: 60px;
}

.library1 {
  width: 310px;
  padding: 17px;
  background-color: #ffffff;
  border: 1px solid red;
  border-radius: 8px;
  height: 155px;
}

.para {
  color: #118bd1;
  margin-bottom: 12px;
}

.para1 {
  font-size: 14px;
  color: #213842;
  line-height: 22px;
}

.top-container {
  background-color: #f5f5ed;
  justify-content: center;
  height: 800px;
}

.Top {
  display: flex;
  justify-content: center;
  height: 80px;
  font-size: 25px;
  font-weight: 500;
  /* margin-bottom: 3rem; */
}

.image-container {
  display: flex;
  /* border: 1px solid rebeccapurple; */
  justify-content: center;
}

.image-content {
  flex-wrap: wrap;
  display: flex;
  /* border: 1px solid black; */
  gap: 1rem;
  row-gap: 2rem;
  max-width: 1100px;
  justify-content: space-between;
}
.image {
  /* border: 1px solid black; */
  height: 50px;
  background-color: #ffffff;
  width: 120px;
  padding: 16px 12px;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  /* padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem; */
}

.image > img {
  width: 100%;
  height: 23px;
  object-fit: contain;
}
