@media screen and (max-width: 990px) {
  .toggle {
    display: block;
    margin-right: 20px;
  }
  .nav {
    width: 100%;
  }

  .list ul {
    display: none;
  }

  .heading1 {
    display: none;
  }
  .card1 {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .gallery {
    display: none;
  }

  .top-container {
    /* margin-top: 300px; */
  }

  .money1 {
    display: none;
  }

  .money2 {
    display: none;
  }

  .images {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 550px) {
  .contant {
    margin-left: 120px;
    margin-top: 90px;
    margin-bottom: 80px;
    /* background-color: rd; */
  }

  .big-card {
    height: 650px;
  }
  .card1 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .library1 {
    width: 100%;
  }

  .para1 {
    max-width: 600px;
  }

  .image-content {
    padding-left: 5px;
    padding-right: 5px;
  }

  .big-contant {
    flex-wrap: wrap;
    padding-left: 35px;
    padding-right: 35px;
  }

  .big-box {
    width: 510px;
  }
  .chota-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu {
    display: block;
    margin-left: 15px;
  }
  .paragraph {
    margin-bottom: 0px;
  }
  .images {
    display: none;
  }
  .community-member {
    padding-left: 13px;
    padding-right: 13px;
  }
  .vk1 {
    padding-bottom: 40px;
  }
  .work-box {
    width: 100%;
  }
}
