@media screen and (max-width: 990px) {
  .toggle {
    display: block;
    margin-right: 20px;
  }
  .nav {
    width: 100%;
  }

  .list ul {
    display: none;
  }

  .heading1 {
    display: none;
  }
  .card1 {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .gallery {
    display: none;
  }

  .money1 {
    display: none;
  }

  .money2 {
    display: none;
  }

  .images {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 550px) {
  .contant {
    margin-left: 0px;
    padding: 70px 70px;
    margin-top: 0px;
    border: 1px solid red;
  }
  .n2 {
    max-width: 980px;
    flex-wrap: nowrap;
  }

  .big-card {
    height: 650px;
  }
  .card1 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .library1 {
    width: 100%;
  }

  .para1 {
    max-width: 600px;
  }

  .image-content {
    padding-left: 5px;
    padding-right: 5px;
  }

  .big-contant {
    flex-wrap: wrap;
    padding-left: 35px;
    padding-right: 35px;
  }

  .big-box {
    width: 510px;
  }
  .chota-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu {
    display: block;
    margin-left: 15px;
  }
  .paragraph {
    margin-bottom: 0px;
  }
  .images {
    display: none;
  }
  .community-member {
    padding-left: 13px;
    padding-right: 13px;
  }
  .vk1 {
    padding-bottom: 40px;
  }
  .work {
    max-width: 400px;
  }
  .work-box {
    padding-left: 25px;
    padding-right: 25px;
  }
  .work-box1 {
    max-width: 900px;
    /* gap: 5rem; */
  }
  .works {
    max-width: 380px;
  }

  .last-container {
    max-width: 320px;
    flex-wrap: wrap;
    margin-left: 15px;
    display: block;
  }
  .last-container img {
    height: 60px;
    width: 60px;
  }
  .program-name > p:nth-of-type(1) {
    margin-top: 35px;
  }
  .button1 {
    margin-top: 35px;
  }
}
